.fade {
	opacity: 0;
}
.fade-in {
	opacity: 1;
}
/*//////////////////////////////////////*/
.slide-right {
	transform: translateX(50%);
	opacity: 0;
}
.slide-right-in {
	transform: translateX(0);
	opacity: 1;
}
/*//////////////////////////////////////*/
.slide-left {
	transform: translateX(-15%);
	opacity: 0;
}
.slide-left-in {
	transform: translateX(0);
	opacity: 1;
}
/*//////////////////////////////////////*/
.slide-top {
	transform: translateY(-50%);
	opacity: 0;
}
.slide-top-in {
	transform: translateY(0);
	opacity: 1;
}
/*//////////////////////////////////////*/
.slide-bottom {
	transform: translateY(50%);
	opacity: 0;
}
.slide-bottom-in {
	transform: translateY(0);
	opacity: 1;
}
/*//////////////////////////////////////*/
.flip {
	transform-origin: 50% 0%;
  	transform: perspective(1000px) rotateY(-90deg);
}
.flip-in {
  	transform: perspective(1000px) rotateY(0deg);
}
/*//////////////////////////////////////*/
.height {
	opacity: 0;
	height: 0;
}
.height-in {
  	opacity: 1;
	height: 100%;
}
/*//////////////////////////////////////*/
.letter-draw {
	stroke: #000;
	fill: transparent;
	stroke-dasharray: 320; 
	stroke-dashoffset: 320px;
}
.letter-draw-in {
	animation: letterDraw 1.5s forwards;
}
@keyframes letterDraw {
	0% {stroke-dashoffset: 320px;fill: transparent;}
	85% {fill: transparent;}
	100% {stroke-dashoffset: 0; fill: #000;}
}
/*//////////////////////////////////////*/
.border-draw_white {
  &:before, &:after {
    width: 0%;
    height: 0%;
    position: absolute;
    content: " ";
    z-index: 1;
    box-sizing: border-box;
  }

  &:after {
  	right: 0;
	top: 0;
	transition: height 0.3s ease-out 0.1s, width 0.3s ease-out 0.4s;
  }

   &:before {
	bottom: 0;
	left: 0;
	transition: height 0.3s ease-out 0.7s, width 0.3s ease-out 1s;
   }
}
.border-draw_white-in {
	&:before {
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		height: 100%;
		width: 100%;
	}

	&:after {
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		width: 100%;
		height: 100%;
	}
}

.border-draw_black {
  &:before, &:after {
    width: 0%;
    height: 0%;
    position: absolute;
    content: " ";
    z-index: 1;
    box-sizing: border-box;
  }

  &:after {
  	right: 0;
	top: 0;
	transition: height 0.3s ease-out 0.1s, width 0.3s ease-out 0.4s;
  }

   &:before {
	bottom: 0;
	left: 0;
	transition: height 0.3s ease-out 0.7s, width 0.3s ease-out 1s;
   }
}
.border-draw_black-in {
	&:before {
		border-left: 1px solid #000;
		border-top: 1px solid #000;
		height: 100%;
		width: 100%;
	}

	&:after {
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		width: 100%;
		height: 100%;
	}
}
/*//////////////////////////////////////*/
.home-line-1_1 {
	opacity: 0;
	top: -100%;
	right: -30%;
}
.home-line-1_1-in {
	opacity: 1;
	right: 135/530*100%;
    top: -55px;
}
.home-line-2_1 {
	opacity: 0;
	top: -100%;
	right: -30%;
}
.home-line-2_1-in {
	opacity: 1;
	right: 100/530*100%;
    top: -40px;
}

.home-line-2 {
	opacity: 0;
	top: -150%;
	right: -50%;
}
.home-line-2-in {
	opacity: 1;
	right: 160/530*100%;
    top: -40px;
}

.home-line-3 {
	opacity: 0;
	top: -150%;
	left: -50%;
}
.home-line-3-in {
	opacity: 1;
	left: 85px;
    top: -28px;
}

.home-line-4 {
	opacity: 0;
	top: -150%;
	left: -50%;
}
.home-line-4-in {
	opacity: 1;
	left: 120px;
    top: -28px;
}

.home-line-5_1 {
	opacity: 0;
	top: -150%;
	left: -100%;
}
.home-line-5_1-in {
	opacity: 1;
	left: -30px;
    top: -40px;
}
.home-line-5_2 {
	opacity: 0;
	top: -150%;
	right: -100%;
}
.home-line-5_2-in {
	opacity: 1;
	right: -10px;
    top: -50px;
}

.home-line-6 {
	opacity: 0;
	top: -150%;
	right: -60%;
}
.home-line-6-in {
	opacity: 1;
	right: -60px;
    top: -54px;
}

.home-line-7 {
	opacity: 0;
	top: -150%;
	right: -110%;
}
.home-line-7-in {
	opacity: 1;
	right: -158px;
    top: 17px;
}
/*//////////////////////////////////////*/


