@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SolomonSansNormal';
    src: url('../fonts/Solomon-Sans-Normal.woff2') format('woff2'),
        url('../fonts/Solomon-Sans-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

