$solomonNorm: 'SolomonSansNormal', Arial, sans-serif;
$solomonLight: 'SolomonLight', Arial, sans-serif;
$helveticaLight: 'HelveticaLight', Arial, sans-serif;
$helveticaULight: 'HelveticaULight', Arial, sans-serif;
$helvetica: 'Helvetica', Arial, sans-serif;
$arialNarrow: "Arial Narrow", Arial, sans-serif;
$dinBold: 'DinBold', Arial, sans-serif;



$dark-blue: #105F75;
