@media screen and (max-width: 1075px) {
	.news__container {
		width: 100%;
	}
	.news-slider-wrap {
		margin-bottom: 30px;
	}
	.news-list:before {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.news-list-image {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.news-list__item {
		width: 48%;
	}
}

@media screen and (max-width: 767px) {
	.news-list-image {
		height: 220px;
	}
	.news-list-image__image {
		height: 170px;
	}
	.news-list__date {
		line-height: 50px;
	}
	.news-list__heading {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 599px) {
	.news-list {
		justify-content: center;
		margin-bottom: 20px;
	}
	.news-list__item {
		width: 315px;
		margin-bottom: 15px;
	}
	.pagination-wrap {
		margin-bottom: 30px;
	}
	.pagination__button {
		display: none;
	}

	.news-subscribe {
		width: 98%;
		justify-content: space-around;

		&__text {
			font-size: 11/16*1rem;
			margin: 0;
		}

		&__button {
			font-size: 0.7rem;
			padding: 0 5px;
		}
	}
}
