
@media screen and (max-width: 767px) {
	.restaurant-wrap {
		height: auto;
		min-height: 100vh;
		position: relative;
	}

	.restaurant-footer {
		position: relative;
	}

	.restaurant__content {
		width: 100%;
		position: relative;
		margin-top: 20%;
		transform: none;
		// margin-bottom: 50%;
	}

	.restaurant__heading {
		font-size: 36/16*1rem;
		line-height: 1.5;
		margin-left: 7%;
	}

	.restaurant-contact {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 25px;
	}

	.restaurant-social {
		width: 90%;
	}
}