@media screen and (max-width: 1230px) {
	.nav__link {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 970px) {
	.nav__link {
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0;
	}

	.header__link {
		width: 25%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.header-mobile {
		display: flex;
	}

	.header__container {
		flex-wrap: wrap;
	}

	.nav-wrapper {
		display: none;
		width: 100%;
		height: 100vh;
		border-top: 5px solid #fff;
		padding: 0 0 15px 25px;
	}
	.nav {
		flex-wrap: wrap;

		&__item {
			width: 100%;
			margin-top: 20px;

			&_mobile {
				display: block;
			}

			&_border_bottom {
				padding-bottom: 8px;
				border-bottom: 3px solid #fff;
			}

			&_opacity {
				opacity: 0.7;
			}
		}

		&__link {
			font-size: 1rem;

			&_tel {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}

			&_lower {
				display: inline-block;
				text-transform: lowercase;
				font-size: 0.8rem;
				padding-top: 5px;
				border-bottom: 1px solid #fff;
			}
		}
	}
}

@media screen and (min-height: 320px) and (max-height: 500px) {
	.nav-wrapper {
		height: auto;
	}

	.nav__item {
		margin-top: 7px;
	}
}
