body {
	font-family: $solomonNorm;
	font-size: 1rem;
}

.thanks-container {
    width: 50%;
    /*height: 100vh;*/
    margin: 0 auto;
    display: flex;
    align-item: center;
    justify-content: center;
}
.thanks__heading {
    line-height: calc(100vh - 250px);
    font-size: 8rem;
    font-family: $helvetica;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.container {
	width: 1190px;
	margin: 0 auto;
    overflow: hidden;
}
.top {
	width: 100%;
	overflow: hidden; 
}
.disk {
    position: relative;
    margin-right: 15px;

    &:before {
        @extend %absolute-center_v;
        right: -15px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        content: " ";
    }
}
.triangle {
    position: relative;

    &:before {
        position: absolute;
        bottom: 5px;
        right: -15px;
        content: " ";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #000;
        transition: all 0.5s;
    }

    &_top {
        &:before {
            transform: rotate(-180deg);
        }
    }
}
.dash {
    position: relative;
    &:after {
        @extend %absolute-center_v;
        left: -7px;
        content: " ";
        width: 4px;
        height: 1px;
        background-color: #000;
    }
}
.line-bottom {
    position: relative;
    padding-bottom: 50px;

    &:before {
        @extend %absolute-center_h;
        bottom: 0;
        height: 1px;
        width: 1000/1400*100%;
        background-color: #000;
        content: " ";
    }

    &_custom {
        padding-bottom: 10px;
    }
}
.long-arrow_revers {
    transform: rotate(-180deg);
}

// heading
.page-heading {
    position: relative;
	display: inline-block;
    width: 100%;
	// width: 460/1400*100%;
	// padding-bottom: 10px;
	// border-bottom: 5px solid #000;
	color: #000;
	font-size: 36/16*1rem;
	font-family: $solomonNorm;
	letter-spacing: 5px;
	text-transform: uppercase;
    opacity: 0;

    // &:before {
    //     @extend %absolute-center_h;
    //     bottom: -20px;
    //     width: 460/1400*100%;
    //     height: 5px;
    //     background-color: #000;
    //     content: " ";
    // }

	&-wrap {
		padding: 30px 0 50px 0;
		width: 100%;
		text-align: center;
        position: relative;
	}

    &__stick {
        @extend %absolute-center_h;
        bottom: 30px;
        width: 0;
        height: 5px;
        background-color: #000;
        content: " ";
    }
}
// end__heading

// slider
.page-slider {
    width: 100%;
    height: 100%;

    &-wrap {
    	position: relative;
        width: 100%;
        height: 600px;
        opacity: 0;
        
        .slick-dotted.slick-slider {
            margin: 0;
        }
    }

    &__item {
    	position: relative;
        width: 100%;
        height: 100%;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__button {
    	@extend %absolute-center_v;
    	@extend %flex-center;
    	flex-direction: column;
    	width: 100px;
    	height: 115px;
    	background-color: #000;
    	border: none;
    	outline: none;
    	transition: all 0.4s;
    	cursor: pointer;
    	overflow: hidden;
		
		&:hover {
			background-color: #fff;
		}
    	&:hover .page-slider__button-text { 
			color: #000;
    	}
    	&:hover .page-slider__button-icon { 
			fill: #000;
    	}

    	&_prev {
    		left: 0;
    	}

    	&_next {
    		right: 0;
    	}

    	&-text {
    		font-size: 1rem;
    		font-family: $dinBold;
			color: #fff;
			text-transform: uppercase;
    	}

    	&-icon {
    		height: 35px;
    		fill: #fff;
    	}
    }

    &-content {
    	width: 460/1400*100%;
    	position: absolute;
    	top: 40%;
    	right: 200/1400*100%;

    	&__text {
    		font-size: 36/18*1rem;
    		font-family: $solomonNorm;
    		letter-spacing: 5px;
    		text-transform: uppercase;
    		color: #fff;
    		line-height: 1.3;

    		&_big {
    			font-size: 48/16*1rem;
    		}

    		&_black {
    			color: #000;
    		}
    	}
    }

    /*slick-custom*/
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
    }
    /*.slick-track {
        height: 100%;
    }*/
    .slick-slide div {
        height: 100%;
    }

    .slick-dots {
        position: absolute;
        bottom: 20px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 7px;
            background-color: #fff; 
            border-radius: 50%;
            box-sizing: border-box;
            width: 15px;
            height: 15px; 
        }

        button {
            position: relative;
            background-color: #fff;
            border: none;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            outline: none;
            content: " ";
        }

        .slick-active button {
            background-color: #000; 
        }
    }
    /*end__slick-custom*/
}
// end__slider

// buttons
.button_white {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #fff;
	color: #fff;
	font-family: $helveticaLight;
	font-size: 1rem;
	background-color: transparent;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	z-index: 1;
	transition: all 0.4s;
	cursor: pointer;
    overflow: hidden;

	&:after {
		@extend %absolute-center_v;
        right: 0;
        left: 0;
		width: 100%;
		height: 0%;
		background-color: #fff;
		content: " ";
		transition: all 0.4s;
		z-index: -1;
	}

	&:hover {
		color: #000;
        background-color: transparent;
	}

	&:hover:after {
		height: 102%;
	}
}

.button_black {
	position: relative;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #000;
	color: #000;
	font-family: $helveticaLight;
	background-color: transparent;
	font-size: 1rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	z-index: 1;
    transition: all 0.4s;
    overflow: hidden;

	&:after {
		@extend %absolute-center_v;
		right: 0;
        left: 0;
        width: 100%;
        height: 0%;
		background-color: #000;
		content: " ";
		transition: all 0.4s;
		z-index: -1;
	}

	&:hover {
		color: #fff;
        background-color: transparent;
	}

	&:hover:after {
		height: 102%;
	}
}
// end__buttons


// block-1
.page-block-1 {
    width: 1080/1200*100%;
    margin-bottom: 100px;

    &_right {
        margin-left: 120/1200*100%;
    }

    &__heading {
        width: 100%;
        font-size: 30/16*1rem;
        font-family: $solomonNorm;
        letter-spacing: 2px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 5px solid #000;
        text-transform: uppercase;

        &_right {
            text-align: right;
        }
    }
}

.page-block-1-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left {
        justify-content: flex-start;
    }

    &__info {
        width: 470/1080*100%;
    }

    &__image {
        width: 600/1080*100%;

        &_left {
            margin-right: 60px;
        }
    }
}

.page-block-1-list {
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;

    &__item {
        cursor: pointer;

        &:nth-child(n+11) {
            display: none;
        }
    }

    &__text {
        font-size: 1rem;
        font-family: $solomonNorm;
        letter-spacing: 1px;
        line-height: 1.7;

        &:hover {
            font-weight: 600;
        }
    }
}
.page-block-1-list_botom_arrow {
    margin-bottom: 10px;
}
.list__more {
    padding-left: 35%;
    box-sizing: border-box;
    cursor: pointer;

    svg {
        width: 25px;
        height: 25px;
    }

    &_revers {
        transform: rotate(-180deg);
        transition: all 0.5s;
    }
}
.page-block-1-sublist {
    display: none;
    margin-left: 15px;
}

.page-block-1__button {
    width: 100%;
    margin-bottom: 12px;
    font-family: $solomonNorm;
    letter-spacing: 3px;
    text-transform: none;
    font-size: 24/16*1rem;
    background-color: #fff;
    box-sizing: border-box;

    &:last-child {
        margin-bottom: 0;
    }

    &-wrap {
        width: 320/470*100%;
        position: relative;
        margin-top: 10px;
        width: 320px;
    }

    &_black {
        color: #fff;
        background-color: #000;

        &:after {
            @extend %absolute-center;
            width: 99.5%;
            height: 0%;
            background-color: #fff;
            content: " ";
            transition: all 0.4s;
            z-index: -1;
        }

        &:hover {
            color: #000;
        }
    }

    &-line {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: 350px;
        height: 1px;
        z-index: -1;
        background-color: #000;
        transform: rotate(-25deg);
    }
}
// end__block-1

// block-2
.page-block-2 {
    width: 100%;
    margin-bottom: 50px;

    &__heading {
        width: 1080/1200*100%;
        float: right;
        clear: both;

        &_left {
            float: left;
            text-align: right;
        }
    }

    &_last {
        margin-bottom: 90px;
    }
}   

.page-block-2-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-block-2-content__info {
    width: 550/1200*100%;
}
.page-block-2-text {
    margin-bottom: 50px;
}
.page-block-2__text {
    font-family: SolomonSansNormal,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.45;
    color: #000;

    &_margin_top {
        margin-top: 30px;
    }
}

.page-block-2-content-image {
    width: 50%;
}
.page-block-2-content__image {
    width: 100%;
    margin-bottom: 50px;
}

.page-block-2__button {
    width: 320/1200*100%;
    font-family: $solomonNorm;
    letter-spacing: 3px;
    text-transform: none;
    font-size: 24/16*1rem;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 45px;

    &-wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &_black {
        color: #fff;
        background-color: #000;

        &:after {
            @extend %absolute-center;
            width: 99.5%;
            height: 0%;
            background-color: #fff;
            content: " ";
            transition: all 0.4s;
            z-index: -1;
        }

        &:hover {
            color: #000;
        }
    }
}
// end__block-2

// people
.people {
    &__heading {
        width: 100%;
        text-align: center;
        font-size: 36/16*1rem;
        font-family: $solomonNorm;
        letter-spacing: 2px;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
}

.people-section {
    width: 100%;
    margin-bottom: 20px;

    &__heading {
        width: 100%;
        font-size: 30/16*1rem;
        font-family: $solomonNorm;
        letter-spacing: 2px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 5px solid #000;
        text-transform: uppercase;
    }
}

.people-section-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        position: relative;
        width: 26%;
        margin-bottom: 20px;
        text-align: center;

        &:before {
            position: absolute;
            top: 30%;
            right: -22%;
            height: 80px;
            width: 1px;
            background-color: #000;
            content: " ";

        }

        &:nth-child(3n):before {
            display: none;
        }
        &:last-child:before {
            display: none;
        }
    }

    &-image {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;

        &:hover .people-section-list__button {
            animation: peopleButton 0.7s forwards;
        }
    }

    &__image {
        width: 100%;
    }

    &__button {
        position: absolute;
        /*left: 0;*/
        right: -100%;
        bottom: 0;
        display: block;
        width: 100%;
        color: #fff;
        background-color: #000;
        text-align: center;
        text-transform: uppercase;
        font-size: 18/16*1rem;
        font-family: $helvetica;
        letter-spacing: 2px;
        height: 100%;
        line-height: 50px;
    }

    &__name {
        font-size: 24/16*1rem;
        font-family: $solomonNorm;
        letter-spacing: 2px;
        margin-bottom: 7px;
    }

    &__position {
        font-size: 1rem;
        font-family: $arialNarrow;
    }
}

@keyframes peopleButton {
    0% {right: -100%;}
    50% {right: 0; height: 100%;}
    100% {right: 0; height: 50px;}
}

.people-slider-wrap {
    position: relative;
}
.people-slider__button {
    &_next {
        display: none;
        right: -10px;
    }
    &_prev {
        display: none;
        left: -10px;
    }
}
// end__people


// add animation
.page-heading__stick {
    animation: headingWidth 1s forwards;
}
@keyframes headingWidth {
    0% {width: 0;}
    100% {width: 460/1400*100%;}
}
.page-heading {
    animation: headingSlide 1s 0.9s forwards;
}
@keyframes headingSlide {
    0% {transform: translateY(25%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
.page-slider-wrap {
    animation: sliderFade 1s 0.9s forwards;
}
@keyframes sliderFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.page-block-1__heading, .page-block-1-content__image {
    transition: transform 0.7s;
}
.page-block-1-list__item_1 {
    transition: all 0.6s 0.8s;
}
.page-block-1-list__item_2 {
    transition: all 0.6s 1s;
}
.page-block-1-list__item_3 {
    transition: all 0.6s 1.2s;
}
.page-block-1-list__item_4 {
    transition: all 0.6s 1.4s;
}
.page-block-1-list__item_5 {
    transition: all 0.6s 1.6s;
}
.page-block-1-list__item_6 {
    transition: all 0.6s 1.8s;
}
.page-block-1-list__item_7 {
    transition: all 0.6s 2s;
}
.page-block-1-list__item_8 {
    transition: all 0.6s 2.2s;
}
.page-block-1-list__item_9 {
    transition: all 0.6s 2.4s;
}
.page-block-1-list__item_10 {
    transition: all 0.6s 2.6s;
}
.page-block-1__button-wrap, .list__more {
    transition: opacity 0.6s 0.8s;
}
.people-section-list__image {
    transition: all 0.6s;
}

.page-block-2-content__info, .page-block-2-content-image {
    transition: all 0.6s 0.5s;
}
.page-block-2__button-wrap {
    transition: opacity 1.5s 1.2s;
}
// end__add animation

